<style>
    .header{

        padding: 10px;
        text-align: right;
    }
</style>
<div class="header">

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_admin_index') }}" class="btn btn-danger">Админка</a>
        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">Выйти</a>
            <a href="{{ path('app_profile_index') }}" class="btn btn-danger">Моя страница</a>


    {% elseif is_granted('ROLE_USER') %}
        <a href="{{ path('app_profile_index') }}" class="btn btn-danger">Моя страница</a>
        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">Выйти</a>
    {% else %}

        <a href="{{ path('fos_user_security_login') }}" class="btn btn-danger">Войти</a>
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-danger">Зарегистрироваться</a>
    {% endif %}


</div>