{% extends "layouts/site.layout.html.twig" %}

{% block body %}
    <h1>Base page</h1>
    <a href={{ path('fos_user_security_login') }}>Войти</a>
    <a href={{ path('fos_user_registration_register') }}>Зарегистрироваться</a>
{% endblock %}