{% extends 'layouts/site.layout.html.twig' %}


{% block body %}
    <a href="{{ path('app_admin_addnews') }}" class="btn btn-danger">Добавить</a>


    {% for news in allNews %}

        <div class="container">
            <div class="card" style="width: 25rem;">
                <h3> {{ news.title }}</h3><br>
                <img style="width: 300px" src="{{ vich_uploader_asset(news, 'imageFile') }}">
                <span> {{ news.description }}</span><br>
                <span> Дата создания: {{ news.createdAt.format('d-m-Y H:i:s')}}</span><br>
                <span> Тэги:
                    {% for tag in news.tags %}
                        {{ tag.title }}
                    {% endfor %}
                    </span><br>
                <span> Категории:
                    {% for category in news.categories %}
                        {{ category.title }}
                    {% endfor %}
                    </span><br>
                <span> Автор: {{ news.author }}</span>
                {% if news.active == false %}
                    <a href="{{ path('app_admin_publish', {id: news.id}) }}" class="btn btn-danger">Опубликовать</a>
                {% endif %}
            </div>
            <br>


        </div>
    {% endfor %}
{% endblock %}
