{% extends 'layouts/site.layout.html.twig' %}



{% block body %}


    <div class="form">
        <div class="container">
            <h3>Добавить новый пост</h3>
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.imageFile) }}
            {{ form_row(form.description) }}
            {{ form_row(form.tags) }}
            {{ form_row(form.categories) }}
            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}

