{% extends 'layouts/site.layout.html.twig' %}

{% block body %}


    <div class="container">
        <h3> {{ news.title }}</h3><br>
        <img style="width: 300px" src="{{ vich_uploader_asset(news, 'imageFile') }}">
        <span> {{ news.description }}</span><br>
        <span>Дата создания: {{ news.createdAt|date('d-m-Y') }} </span><br>
        <span>Автор: {{ news.author }}</span><br>
        <span> Тэги:
            {% for tag in news.tags %}
                {{ tag.title }}
            {% endfor %}
        </span><br>
        <span> Категории:
            {% for category in news.categories %}
                {{ category.title }}
            {% endfor %}
        </span><br>

        <div>
        <h5>Комментарии:</h5>
        {% for comment in comments %}
            <span>{{ comment.user.username }}: {{ comment.text }}</span><br>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_admin_deletecomment', {id: comment.id}) }}" class="btn btn-danger">Удалить</a>
            {% endif %}
        {% endfor %}

            <h5>Добавить комментарий</h5>
            {{ form_start(commentForm) }}
            {{ form_widget(commentForm) }}
            {{ form_end(commentForm) }}
        </div>

    </div>
{% endblock %}
